@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-armon-blue: #003399;
  --color-armon-blue-dark: #002266;
  --color-armon-blue-light: #0044cc;
}

@layer base {
  body {
    @apply font-sans;
  }
}
